@charset "UTF-8";

* {
    margin: 0;
    padding: 0 ;
    list-style: none;
    text-decoration: none;
}

#wrap {
    width: 100%;
    margin: 0 auto;
}

html {scroll-behavior: smooth;}

body{
	margin: 0;
    min-width:960px;
	background:#FFF;
	font-size:15px;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    z-index: 20;
    height: 70px;
    width: 100%;
    top: 0;
    padding: 0;
    position: fixed;
    display: flex;
    background-color: rgba(255, 255, 255, 0.7); /* ガラスの色と透明度を設定 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* ガラスの影の効果を追加 */
    backdrop-filter: blur(5px); /* フィルターを使って背後の要素をぼかす効果を追加 */
    border: 1 solid rgba(255, 255, 255, 0.8); /* ガラスの境界線を追加 */
}

nav{
	position:relative;
    display:flex;
	align-items:center;
    height:70px;
    width:100%;
}

.logo{
	display: block;
	width: 180px;
	position: fixed;
	left: 40px;
}

.logo img{
    width:100%;
    height:auto;
    vertical-align:top;
}

.main-menu {
	position: fixed;
	top: 0px;
    right: 0px;
    width: auto;
    right: 40px;
}

.main-menu ul{
    text-align: center;
    height: 30px; /*メニューの高さ*/
}

.main-menu ul li {
	float: left;
}

.main-menu ul li a {
	height: 70px;
    vertical-align:middle;
    color:rgba(0, 0, 0, 0.8);
    text-decoration:none;
    letter-spacing:.1em;
	padding: 10px 10px;
    font-size: 14px;
}
/*
.main-menu ul li a:hover {
    background: #FFF;
}
*/

.fa-instagram{
    font-size: 25px;
    margin: 0 0 0 2px;
}

.fa-youtube{
    font-size: 25px;
    margin: 0 0 0 2px;
}

/*==================================================
Index HTMLのためのcss
===================================*/

.video{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.video::after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .3;
}

.video video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 768px) {
    .video{
        min-width: 480px;
    }
    }

#swiper-container{
    width: 100%;
    top: 100vh;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影の設定 */
    backdrop-filter: blur(6px);
    overflow: hidden; /* 横スクロールを防ぐ */
}

.transparent{
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

.overview{
    margin: 0 auto;
    width: 960px;
    height: 100vh;
}

.ov-text-container{
    height: 100vh;
    padding: 0 20px 20px 0;
    display: table-cell;
    vertical-align: middle;
}

.ov-text1{
    color: #000;
    font-size: 2rem;
    line-height: 1.7;
    margin-bottom: 20px;
}

.ov-text2{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    display: inline-block;
}

a.btn_01 {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1.5px solid #000;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    padding: 0;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    transition-duration: 0.2s;
}
a.btn_01:hover {
  background: #000;
  color: #FFF;
}

.photo-intro{
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
}
.inner-s {
    margin: 0 auto;
    width: 1000px;
    display: flex;
}
.slide-container {
    width: 50%;
    height: auto;
}
.slide{
    max-width: 500px;
    height: auto;
    object-fit:cover;
}
.text-container-s{
    width: 47%;
    margin-right: 2rem;
    display: table-cell;
}
.timelapse-intro{
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
}
.inner-t {
    margin: 0 auto;
    width: 1000px;
    display: flex;
}
.text-container-t{
    width: 47%;
    margin-right: 2rem;
    display: table-cell;
}
.timelapse-container {
    width: 50%;
    height: auto;
}
.timelapse-container video{
    max-width: 500px;
    height: auto;
    object-fit:cover;
}

@keyframes slide-flow {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}


@media (max-width: 480px) {
.overview{
    margin: auto 30px;
    max-width: 420px;
    height: 100dvh;
}
.ov-text-container{
    width: 100%;
    padding: 0 20px 20px 0;
    display: table-cell;
    vertical-align: middle;
}
.ov-text1{
    color: #000;
    font-size: 2rem;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 20px;
}

.ov-text2{
    color: #000;
    font-size: 1rem;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 20px;
    word-wrap: break-word;
}
.photo-intro{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.inner-s {
    max-width: 380px;
    margin: auto 30px;
    display: block;
}
.text-container-s{
    display: table-cell;
}
.slide-container {
    width: 100%;
    margin: 30px 20px auto 0
}
.slide{
    max-width: 380px;
    height: auto;
    object-fit:cover;
}
.inner-t {
    max-width: 380px;
    margin: auto 30px;
    display: block;
}
.text-container-t{
    display: table-cell;
}
.timelapse-container {
    width: 100%;
    margin: 30px 20px auto 0
}
.timelapse-container video{
    max-width: 380px;
    height: auto;
    object-fit:cover;
}
}

.hamburger-list {
    display: none;	/*ハンバーガーメニューのリスト（スマホ用）を非表示*/
}


/*==================================================
aboutのためのcss
===================================*/

.about {
    margin: 150px 0px 0px;
}

.about-card{
    width: 100%;
    height: 60vh;
}
.inner-a {
    margin: 0 auto;
    width: 1000px;
    display: flex;
}
.text-container-a{
    width: 46%;
    margin-right: 2rem;
    display: table-cell;
}
.img-container {
    width: 43%;
    height: auto;
}
.img-container img{
    max-width: 430px;
    height: auto;
    object-fit:cover;
}

.ov-text-container{
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}

.about-text1{
    color: #000;
    font-size: 1.5rem;
    line-height: 1.7;
    margin-bottom: 20px;
}

.about-text2{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

@media (max-width: 480px){
    .about {
        margin-top: 100px;
    }
    .about-card{
        width: 100%;
        height: 100dvh;
        margin-bottom: 0px;
    }
    .about-text1{
        color: #000;
        font-size: 1.6rem;
        line-height: 1.7;
        text-align: justify;
        margin-bottom: 10px;
    }
    .about-text2{
        color: #000;
        font-size: 1rem;
        line-height: 1.7;
        text-align: justify;
        margin-bottom: 20px;
    }
    .inner-a {
        max-width: 380px;
        margin: auto 30px;
        display: block;
    }
    .text-container-a{
        display: table-cell;
        vertical-align: middle;
    }
    .img-container {
        width: 100%;
        margin: 0 auto;
    }
    .img-container img{
        width: 100%;
        object-fit:cover;
    }

}

/*==================================================
timelapseのためのcss
===================================*/

.tl-container {
    display: flex;
    justify-content: center; /* 左右中央揃え */
    align-items: center;
    margin: 0 20px; /* 左右の余白 */
  }

.tl-card-container {
    margin: 80px 0 80px ;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .tl-card {
    width: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7); /* 色と透明度 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* 影 */
    border: 1 solid rgba(255, 255, 255, 0.8); /* 境界線 */
    backdrop-filter: blur(5px); /* ぼかし */
    border-radius: 1px;
  }  

.contents{
    padding: 0 140px 60px;
    background-color: #FFF;
}

.title-container{
    margin-bottom: 30px;
}

.title-container h1{
    margin-top: 150px;
    text-align: left;
    font-size: 15px;
    color: #000;
    font-family: 'Noto Sans JP', sans-serif;
}

.youtube-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube-container{
   position: relative;
   padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
   height: 0;
   overflow: hidden;
   text-align: center;
   margin-bottom: 30px;
}

.work-text-container {
   margin-bottom: 150px;
   text-align: left;
   color: #FFF;
}
details {
    /* border: 1px solid #aaa; */
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  }
  
  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
  details[open] {
    padding: 0.5em;
  }
/* .details {
    margin-bottom: 30px;
} */

summary p {
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color: #909090;
}
details p {
   line-height: 1.7;
   text-align: justify;
   margin-bottom: 0;
   font-family: 'Noto Sans JP', sans-serif;
   font-size: 15px;
   color: #909090;
}

@media (max-width: 768px){
    .contents{
        padding: 0 50px 40px;
        background-color: #FFF;
    }
    
}



/*==================================================
ギャラリーのためのcss
===================================*/
.gallery{
    columns: 4;/*段組みの数*/
    padding: 15px;/*ギャラリー左右に余白をつける*/
    margin-top: 80px;
}

.gallery li {
  margin-bottom:15px;/*各画像下に余白をつける*/
  list-style:none;
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img {
    width:100%;
    height:auto;
    vertical-align: bottom;
}

/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
    .gallery{
      columns:3;
    }
}

@media only screen and (max-width: 768px) {
    .gallery{
      columns: 2;
    }
}

/*==================================================
mapのためのcss
===================================*/
  #map {
    margin: 150px auto;
    width: 800px;
    height: 600px;
  }

/**********************************　
以下、ハンバーガーメニューの設定　
************************************/

@media (max-width: 960px) {

body{
    margin: 0;
    min-width:450px;
    background:#FFF;
}

.main-menu {
    display: none;
	}

.fas_sns_icon{
    display: none;
}

.logo{
	display: block;
	width: 200px;
	position: fixed;
	top: 20px;
	left: 30px;
}

.logo img{
    width:90%;
    height:auto;
}

#hamburger {
    background-color: transparent;  /*透明の背景*/
    position: absolute;             /*ハンバーガーの横線の位置を決めるための基準*/
    cursor: pointer;                /*リンクを示すカーソルを表示（指差しマーク）*/
	top: 10px;
	right: 10px;
    height: 40px;
	width: 40px;                    /*高さと同じ幅*/
    z-index: 20;
}

.icon span {
    position: absolute;       /*親要素である#hamburgerを基準に位置を指定*/
	top: 21px;
	right: 10px;               /*#hamburger内の左がら15pxに横線を配置（幅が60pxなので右からも15px）*/
    width: 30px;              /*横線の幅*/
    height: 2px;              /*横線の高さ*/
    background-color: #000;  /*横線を白色*/
    transition: ease 0.5s;   /*変化の時間（easeは初期値）*/
}

.icon span:nth-of-type(1) {
    top: 13px;
}
.icon span:nth-of-type(2) {
    top: 23px;
}
.icon span:nth-of-type(3) {
    top: 33px;
}

.close span:nth-of-type(1) {
    transform: rotate(45deg); /*反時計回りに45度回転*/
    top: 23px;
}

.close span:nth-of-type(2) {
    opacity: 0;
}

.close span:nth-of-type(3) {
	transform: rotate(-45deg); /*時計回りに45度回転*/
	top: 23px;
}

.hamburger-list {
    z-index: 19;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size:20px;
    top: 70px;  /*headerの余白分　ヘッダーには左右に15px余白があるので、headerの子要素となる.hamburger-listは15px分内側に設置されます。その余白を埋めるために左に寄せる。*/
    position: absolute; /*絶対配置　top　leftからの位置を絶対配置する*/
    height: 100dvh;
    background: #000;
    background-color: rgba(42, 86, 120, 0.7); /* ガラスの色と透明度を設定 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* ガラスの影の効果*/
    backdrop-filter: blur(10px); /* フィルターを使って背後の要素をぼかす効果 */
}

.hamburger-list ul li {
	text-align: center;
	height: 50px; /*メニューの高さ*/
}

nav.hamburger-list{
	justify-content: center;
}

.hamburger-list ul li a {
	height:0px;
    margin-left:0px;
    color:#FFF;
    text-decoration:none;
    letter-spacing:.1em;
	padding: 5px 10px;
}

.fa-instagram{
    padding-top: 3px;
}

/*
.hamburger-list ul li a:hover {
    background: #222;
    height: 10rem;
    text-align: center;
}
*/

ul {
    flex-direction: column;
    text-align: center;
}
}

.wrapper{
    position: relative;/*←相対位置*/
    padding-bottom: 80px;/*←footerの高さ*/
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7); /* ガラスの色と透明度を設定 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* ガラスの影の効果を追加 */
    backdrop-filter: blur(5px); /* フィルターを使って背後の要素をぼかす効果を追加 */
    border: 1 solid rgba(255, 255, 255, 0.8); /* ガラスの境界線を追加 */
}

.wrapper footer {
    display: flex;
    justify-content: center; /* 横方向中央揃え */
    align-items: center; /* 縦方向中央揃え */
  }
  
  .wrapper p {
    color: #000;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 12px;
    margin: 0; /* デフォルトの余白を除去 */
  }


footer{
    width: 100%;
    padding: 32px 0;
    position: absolute;
    bottom: 0; /*下に固定*/
}